*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Gilory';
  src: url("../font/gilroy-ultralight.ttf");
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
}

body {
  background: white;
  height: 100%;
}

.active1 {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 52px;
  position: absolute;
  margin-top: 25px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  z-index: 100;
}

.header a:visited {
  color: white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header__body {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr 1fr;
      grid-template-columns: 1fr 1.3fr 1fr;
}

.header__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__bur {
  display: none;
}

.header__bur img {
  height: 52px;
  width: 216px;
}

.header__body__right img {
  height: 16px;
  width: 16px;
}

.heaeder__right_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.heaeder__right_item:last-child {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.header__madia {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.header__madia .header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.header__media__elenent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__madia-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
}

.header__madia-text a {
  max-height: 60px;
  margin-bottom: 35px;
}

.header__madia-img {
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.header__madia-img img:nth-child(1) {
  margin-right: 45px;
}

.header__madia-img:before, .header__madia-img:after {
  width: 0%;
  height: 2px;
  opacity: 0.5;
  border-radius: 2px;
  background: white;
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.header__madia-img:before {
  bottom: 0;
}

.header__madia-img:after {
  top: 0;
}

.header__active:before, .header__active:after {
  width: 100%;
  left: 0;
}

.move {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 55px;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  width: 100%;
  padding: 30px;
  padding-top: 5vw;
  background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

.header__madia-img1 {
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bur {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 100;
  right: 25px;
  top: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.header__bur:before, .header__bur:after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: white;
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__bur:before {
  bottom: 0;
}

.header__bur:after {
  top: 0;
}

.header__bur span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 70%;
  height: 4px;
  border-radius: 2px;
  background: white;
  position: absolute;
}

.header__bur__active {
  border: 7px solid #333333;
  border-radius: 10px;
  background: #333333;
  top: 10px;
  right: 10px;
  position: fixed;
}

.footer {
  width: 100%;
}

.footer a:visited {
  color: #333333;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__one {
  padding: 100px 0 120px 0;
  color: white;
  height: 50%;
  width: 100%;
  background: url(../image/bgfooter.png);
  background-position: cover;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 63px;
}

.footer__title-1 {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.footer__title-2 {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  font-family: 'Noto Serif';
  line-height: 41px;
  letter-spacing: 5px;
}

.footer__submit {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 95px;
}

.footer__sub_text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__submit-text {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: normal;
}

.footer__submit-text:before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 17px;
  height: 17px;
  content: '';
  background: url(../image/tre.png);
  background-repeat: no-repeat;
}

.footer__sub__item {
  border: 2px solid #FFFFFF;
  padding: 14px 15px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__sub__item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1.6fr;
      grid-template-columns: 2fr 1.6fr;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: white;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 22px;
}

.footer__sub__item form input[type="email"] {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  width: 100%;
  height: 100%;
  text-align: center;
}

.footer__sub__item form input[type="submit"] {
  background: #333333;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-right: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__sub__item form input[type="submit"]:hover {
  color: #333333;
  background: white;
  font-weight: bold;
}

.footer_two {
  padding-top: 80px;
  height: 50%;
  width: 100%;
  background: white;
}

.footer_two ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_two li {
  text-decoration: none;
  list-style: none;
}

.footer__two__link {
  color: #333333;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.footer__two__link p {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333333;
}

.footer__two__link ul {
  height: 100%;
}

.footer__two__link li {
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.footer__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__help ul {
  display: -ms-grid;
  display: grid;
}

.before__fot {
  left: 25px;
}

.before__fot:before {
  position: absolute;
  top: 0%;
  left: -25px;
  width: 20px;
  height: 20px;
  content: '';
  background: url(../image/1.svg);
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
}

.before__fot1:before {
  background: url(../image/svg.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;
}

.footer__img {
  margin-top: 22px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__img1 {
  width: 50%;
}

.footer__footer {
  width: 98%;
  margin-top: 60px auto;
  padding: 20px 0;
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: 150%;
}

.bg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.head {
  width: 100%;
  height: 100vh;
  background-size: 100vw 100vh;
  position: relative;
}

@media (max-width: 500px) {
  .head {
    background-position: 48%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
  }
}

.head__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.head__body-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  font-family: 'Noto Serif';
  letter-spacing: 5px;
  line-height: 49px;
  margin-bottom: 50px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media (max-width: 531px) {
  .head__body-title {
    font-size: 20px;
  }
}

@media (max-width: 336px) {
  .head__body-title {
    font-size: 14px;
  }
}

.head__move {
  opacity: 0;
  -webkit-transform: translate(0, -15vh);
          transform: translate(0, -15vh);
}

.head__body-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  margin-bottom: 95px;
  padding: 7px 20px;
  border: 1px solid white;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.head__body-button:hover {
  background: white;
  color: #333333;
  font-weight: bold;
}

.head__fot {
  border-top: 1px solid #979797;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__fot1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__item {
  padding: 0 15px;
  border-left: 1px solid #979797;
}

.head__item:first-child {
  border-left: none;
}

.jewelry {
  width: 100%;
}

.jew__body {
  width: 100%;
  background: white;
  padding: 80px 0 100px 0;
}

.jew__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.title1 {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  color: #333333;
  margin-bottom: 15px;
}

.title2 {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  color: #333333;
  margin-bottom: 60px;
}

.jew__menu {
  width: 97%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  position: relative;
  left: -5px;
}

@media (max-width: 1121px) {
  .jew__menu {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .jew__menu {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 330px) {
  .jew__menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.jew__menu-sub {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 17px 52px;
  border: 1px solid #333333;
  color: #333333;
  background: white;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.jew__menu-sub p {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: -5px;
  left: -5px;
}

.jew__menu-sub:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #333333;
  background: white;
  z-index: -3;
  top: -5px;
  left: -5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.jew__menu-sub:hover {
  top: 0px;
  left: 0px;
}

.jew__menu-sub:hover p {
  top: 0px;
  left: 0px;
  color: white;
}

.jew__menu-sub:hover:before {
  top: 0px;
  left: 0px;
  background: #333333;
}

.jew__jew {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}

.jew__jew-sub {
  opacity: 0.9;
  position: relative;
  width: 100%;
  height: 100%;
}

.jew__jew-sub:hover {
  opacity: 1;
}

.jew__jew-sub p {
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 10%;
}

@media (max-width: 340px) {
  .jew__jew-sub p {
    font-size: 13px;
  }
}

.jew__jew-sub img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.black {
  width: 100%;
}

.footer__one {
  background-size: cover;
  background-position: cover;
}

.black__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.black__body .footer__title-2 {
  margin: 0;
}

.black__body .footer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.black__body .footer__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.black__text {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: 140%;
  max-width: 790px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .black__text {
    font-size: 14px;
  }
}

.black__button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 224px;
  height: 51px;
  color: #333333;
  background: white;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 3;
}

.black__button:before {
  position: absolute;
  content: '';
  width: 0px;
  height: 100%;
  background: #333333;
  left: auto;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.black__button:hover:before {
  left: auto;
  width: 100%;
}

.black__button:hover {
  color: white;
}

.our {
  width: 100%;
}

.our__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 120px;
  margin-bottom: 150px;
}

.our__body .footer__title-1 {
  color: #333333;
}

.our__body .footer__title-2 {
  color: #333333;
}

.our__image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
}

.our__image .our__img {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our__image .our__img:hover {
  opacity: 1;
}

.our__img__big {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.our__img__big1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.our__imagebg {
  position: relative;
}

.our__imagebg img[src="image/play.svg"] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our__imagebg:hover img[src="image/play.svg"] {
  opacity: 1;
}

.up {
  opacity: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 1000;
  background: #333333;
  bottom: 15px;
  right: 15px;
  opacity: 0.4;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.up:hover {
  opacity: 1;
}

.up:before, .upafter {
  position: absolute;
  width: 10px;
  width: 3px;
  content: '';
  background: red;
  z-index: 2;
  top: 0;
  left: 0;
}

.up span {
  position: absolute;
  width: 4px;
  height: 50%;
  bottom: 27%;
  border-radius: 5px;
  background: #f9f9f9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.up span:first-child {
  right: 13px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.up span:last-child {
  left: 13px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.ScrollUp span {
  bottom: 23%;
  width: 3px;
  height: 60%;
}

.ScrollUp span:first-child {
  right: 15px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.ScrollUp span:last-child {
  left: 15px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.help {
  width: 100%;
}

.help__body {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 120px;
}

.help__body .footer__title-1 {
  color: #333333;
}

.help__body .footer__title-2 {
  color: #333333;
}

.help__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 60px;
}

.help__elem {
  opacity: 0.9;
  position: relative;
}

.help__elem:hover {
  opacity: 1;
}

.help__elem p {
  position: absolute;
  bottom: 5%;
  text-align: center;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  line-height: 140%;
}

.help__button {
  margin: 0 auto;
  width: 255px;
  height: 51px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  border: 1px solid #333333;
  cursor: pointer;
  position: relative;
}

.help__button p {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: serif;
  font-family: 'Gilory';
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.help__button:before {
  position: absolute;
  content: '';
  width: 0px;
  height: 100%;
  background: white;
  left: auto;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.help__button:hover p {
  color: #333333;
}

.help__button:hover:before {
  left: auto;
  width: 100%;
}

@media (max-width: 940px) {
  .jew__body {
    padding: 40px 0 40px 0;
  }
  .jew__jew {
    grid-gap: 20px;
    margin-top: 47px;
  }
  .title1 {
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-family: serif;
    font-family: 'Gilory';
    color: white;
    color: #333333;
    margin-bottom: 15px;
  }
  .title2 {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-family: serif;
    font-family: 'Gilory';
    color: white;
    color: #333333;
    margin-bottom: 30px;
  }
  .jew__menu-sub {
    padding: 11px 12px;
  }
  .jew__menu {
    width: 90%;
  }
  .header {
    position: absolute;
  }
  .header__madia {
    display: block;
  }
  .header__body {
    display: none;
  }
  .active {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  .active:after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .active span {
    width: 0;
  }
  .footer__submit {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 35px;
  }
  .footer__sub__item {
    height: 130%;
    width: 100%;
  }
  .footer__one {
    padding: 60px 0 80px 0;
  }
  .footer__title {
    margin-bottom: 27px;
  }
  .footer__two__link {
    width: 97%;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .head__item {
    display: none;
  }
  .head__item:nth-child(even) {
    display: block;
  }
  .head__item__media {
    display: block;
  }
  .our__body {
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .our__image {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  .our__image .our__img img {
    width: 100%;
    height: 100%;
  }
  .our__img__big {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .our__img__big1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .our__imagebg {
    position: relative;
  }
  .our__imagebg img {
    width: 100%;
    height: 100%;
  }
  .our__imagebg img[src="image/play.svg"] {
    width: 20%;
    height: 20%;
  }
  .jew__jew {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .help__body {
    margin-top: 80px;
    margin-bottom: 70px;
  }
}

@media (max-width: 600px) {
  .footer__footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__title-1 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .footer__title-2 {
    font-size: 18px;
  }
  .head__item {
    display: none;
  }
  .head__item:nth-child(even) {
    display: none;
  }
  .head__item:nth-child(1) {
    display: block;
  }
  .jew__jew {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .our__body {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .up {
    display: none;
  }
  .help__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 60px;
  }
  .help__body {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

@media (max-width: 455px) {
  .jew__jew {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__one {
    padding: 30px 0 30px 0;
  }
  .footer__two__link {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    width: 94%;
  }
  .footer__two__link p {
    margin-bottom: 10px;
    padding-bottom: 3px;
  }
  .footer_two {
    padding-top: 30px;
  }
  .footer__footer {
    margin-top: 20px;
  }
  .footer__img1 {
    width: 30%;
  }
  .footer__sub__item {
    height: 110%;
    width: 80%;
    margin: 0 auto;
    padding: 8px 10px;
  }
  .footer__sub__item form input[type="email"] {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-family: serif;
    font-family: 'Gilory';
    color: white;
  }
  .footer__sub__item form input[type="submit"] {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-family: serif;
    font-family: 'Gilory';
    color: white;
  }
  .footer__submit-text {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-family: serif;
    font-family: 'Gilory';
    color: white;
    top: 0;
    left: 10%;
    margin: 0 auto;
  }
  .footer__submit-text:before {
    display: none;
  }
  .black__body .footer__title-1 {
    font-size: 12px;
  }
  .black__body .footer__title-2 {
    font-size: 13px;
  }
  .black__body .footer__title {
    margin-bottom: 0;
  }
  .black__text {
    font-size: 14px;
  }
  .black__button {
    width: 160px;
    height: 40px;
    font-size: 14px;
  }
  .our__body {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

@media (max-width: 350px) {
  .header__bur {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__title-1 {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .footer__title-2 {
    font-size: 12px;
  }
  .footer__title {
    margin-bottom: 0px;
  }
  .header__head img {
    -webkit-transform: scale(0.7) translate(-20%, -30%);
            transform: scale(0.7) translate(-20%, -30%);
  }
  .head__body-button {
    font-size: 14px;
  }
  .help__button {
    width: 160px;
    height: 40px;
  }
  .help__button p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */